# Train Custom Model Using Scikit Learn

## 1 Read in Collected Data and Process

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('coords.csv')

In [3]:
df.head()

,class,x1,y1,z1,v1,x2,y2,z2,v2,x3,...,z39,x40,y40,z40,x41,y41,z41,x42,y42,z42
0,ለምን,0.483307,0.231578,-0.584007,0.999898,0.504416,0.190950,-0.522643,0.999848,0.517840,...,-0.012437,0.316636,0.094683,-0.014839,0.329152,0.073797,-0.012698,0.337913,0.056405,-0.009735
1,ለምን,0.483975,0.231873,-0.666048,0.999945,0.506448,0.185909,-0.607750,0.999922,0.518866,...,-0.012662,0.282908,0.103163,-0.014023,0.293204,0.082084,-0.011744,0.298867,0.063755,-0.009036
2,ለምን,0.487058,0.233701,-0.761830,0.999960,0.509176,0.187470,-0.702055,0.999946,0.521292,...,-0.013867,0.266984,0.125805,-0.015711,0.279040,0.104032,-0.012874,0.286753,0.086279,-0.009617
3,ለምን,0.485298,0.236616,-0.635450,0.999879,0.509198,0.193196,-0.576642,0.999811,0.521744,...,-0.013636,0.268645,0.147987,-0.014783,0.282323,0.126132,-0.011023,0.292056,0.107455,-0.006730
4,ለምን,0.486986,0.238980,-0.642063,0.999903,0.510983,0.196924,-0.584852,0.999845,0.523073,...,-0.013496,0.272989,0.153211,-0.013506,0.287043,0.131331,-0.009840,0.296500,0.113409,-0.006386

In [4]:
df.tail()

,class,x1,y1,z1,v1,x2,y2,z2,v2,x3,...,z39,x40,y40,z40,x41,y41,z41,x42,y42,z42
11148,አውሮፕላን,0.589777,0.229622,-0.287269,0.999807,0.603178,0.198529,-0.253810,0.999442,0.612266,...,-0.011047,0.464943,0.180584,-0.016494,0.476124,0.192821,-0.015958,0.480295,0.212655,-0.014193
11149,አውሮፕላን,0.590050,0.238725,-0.355659,0.999758,0.604644,0.203386,-0.322612,0.999361,0.613431,...,-0.014089,0.453659,0.177954,-0.019424,0.458618,0.157268,-0.019418,0.464021,0.138416,-0.018320
11150,አውሮፕላን,0.588542,0.235149,-0.328806,0.999460,0.602914,0.200263,-0.295500,0.998721,0.611756,...,-0.014340,0.445705,0.181021,-0.020073,0.450064,0.159687,-0.021866,0.454805,0.141296,-0.022501
11151,አውሮፕላን,0.587551,0.235527,-0.313781,0.999547,0.601931,0.200939,-0.283246,0.998775,0.610818,...,-0.015133,0.445315,0.181067,-0.019978,0.449391,0.160007,-0.021029,0.453528,0.141555,-0.021252
11152,አውሮፕላን,0.584777,0.234899,-0.318611,0.999632,0.598695,0.200715,-0.288712,0.999006,0.607527,...,-0.014863,0.454346,0.185287,-0.019690,0.459672,0.162956,-0.020228,0.465072,0.142967,-0.019816

In [5]:
df[df['class']=='nothing']

,class,x1,y1,z1,v1,x2,y2,z2,v2,x3,...,z39,x40,y40,z40,x41,y41,z41,x42,y42,z42
4731,nothing,0.534317,0.242431,-0.699207,0.999438,0.547501,0.205316,-0.670215,0.999020,0.555516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4732,nothing,0.535507,0.242218,-0.715213,0.999467,0.548350,0.205084,-0.686013,0.999040,0.556531,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4733,nothing,0.534615,0.243325,-0.719974,0.999533,0.547944,0.205250,-0.690316,0.999206,0.556090,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4734,nothing,0.532304,0.242640,-0.668065,0.999543,0.546622,0.204689,-0.640273,0.999245,0.554715,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4735,nothing,0.533055,0.243558,-0.649925,0.999579,0.547198,0.204944,-0.621297,0.999281,0.555218,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6350,nothing,0.406700,0.246025,-0.441741,0.997593,0.424983,0.210081,-0.439698,0.997682,0.435021,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6351,nothing,0.407302,0.246400,-0.450969,0.998719,0.426468,0.210499,-0.449297,0.998736,0.437081,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6352,nothing,0.409461,0.240212,-0.492297,0.999320,0.429849,0.205073,-0.481516,0.999379,0.440621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6353,nothing,0.411618,0.234806,-0.491361,0.999230,0.430682,0.199696,-0.481776,0.999286,0.441512,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6354,nothing,0.411120,0.240197,-0.545659,0.999025,0.430271,0.205513,-0.535360,0.999073,0.440854,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
X = df.drop('class', axis=1) # features
y = df['class'] # target value

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [8]:
y_test

1093          ለምን
7463     መታጠቢያ ቤት
6573     መታጠቢያ ቤት
6677     መታጠቢያ ቤት
4398           ምን
           ...
7352     መታጠቢያ ቤት
10948      አውሮፕላን
6225      nothing
2167           ምን
8232     መታጠቢያ ቤት
Name: class, Length: 3346, dtype: object

## 2 Train Machine Learning Classification Model

In [9]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler 

from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [10]:
pipeline = make_pipeline(StandardScaler(), RandomForestClassifier(),verbose=True)

In [ ]:
model = pipeline.fit(X_train, y_train)

[Pipeline] .... (step 1 of 2) Processing standardscaler, total=   0.0s

In [11]:
fit_models = {}
for algo, pipeline in pipelines.items():
    model = pipeline.fit(X_train, y_train)
    fit_models[algo] = model

In [11]:
fit_models = {}
for algo, pipeline in pipelines.items():
    model = pipeline.fit(X_train, y_train)
    fit_models[algo] = model

In [11]:
fit_models = {}
for algo, pipeline in pipelines.items():
    model = pipeline.fit(X_train, y_train)
    fit_models[algo] = model

In [12]:
fit_models

{'rc': Pipeline(steps=[('standardscaler', StandardScaler()),
                 ('ridgeclassifier', RidgeClassifier())]),
 'rf': Pipeline(steps=[('standardscaler', StandardScaler()),
                 ('randomforestclassifier', RandomForestClassifier())]),
 'gb': Pipeline(steps=[('standardscaler', StandardScaler()),
                 ('gradientboostingclassifier', GradientBoostingClassifier())])}

In [13]:
model.predict(X_test)

array(['መብላት', 'መብላት', 'መብላት', ..., 'ምን', 'nothing', 'ምን'], dtype=object)

## 3 Evaluate and Serialize Model

In [14]:
import sklearn.metrics as metrics
import pickle

In [15]:
yhat = model.predict(X_test)

In [16]:
print(metrics.accuracy_score(y_test,yhat))
print(metrics.balanced_accuracy_score(y_test,yhat))
#print(metrics.recall_score(y_test,yhat,average="samples",labels=['ለምን','nothing','ምን','መቼ']))

0.9962985811227637
0.9957402322786937

In [ ]:
for algo, model in fit_models.items():
    yhat = model.predict(X_test)
    print(algo, accuracy_score(y_test, yhat))

In [18]:
fit_models['rf'].predict(X_test)

array(['nothing', 'ምን', 'ለምን', ..., 'ለምን', 'ለምን', 'ምን'], dtype=object)

In [19]:
y_test

5837    nothing
4709         ምን
363         ለምን
5916    nothing
3893         ምን
         ...
548         ለምን
6240    nothing
165         ለምን
1043        ለምን
4501         ምን
Name: class, Length: 1907, dtype: object

In [18]:
with open('ETHSLv2.pkl', 'wb') as f:
    pickle.dump(model, f)